<nav class="navbar">
  <div class="navbar-brand" href="#">
    <img src="assets/img/banner-ico.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    <h3>SpotiApp</h3>
  </div>
  <div class="menu">
    <ul class="navbar-nav">
      <div class="nav-item" routerLinkActive="active-link">
        <a class="nav-link" routerLink="home">Home</a>
      </div>
      <div class="nav-item" routerLinkActive="active-link">
        <a class="nav-link" routerLink="search">Search</a>
      </div>
    </ul>
  </div>
</nav>
